# Ignorer les fichiers de compilation
*.o
*.out
*.exe

# Ignorer les fichiers temporaires de l'IDE
.idea/
*.swp

# Ignorer les bibliothèques
lib/


.vscode/
CMakeLists.txt

cmake-build-debug/

