# Ignorer les fichiers de compilation
*.o
*.out
*.exe

# Ignorer les fichiers temporaires de l'IDE
.idea/
*.swp

# Ignorer les bibliothèques
lib/



CMakeLists.txt

cmake-build-debug/
cmake-build-debug-mingw/

#For VSCode IDE Users

.vscode/
build-win.bat
build/
